.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  color: black !important;
}

.summery-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: span 2;
}

.summery-card .icon-container {
  border: 1px solid var(--pink-color);
  border-radius: 0.5rem;
  padding: 1rem;
  fill: var(--content-color);
}

.summery-card h4 {
  margin-bottom: 0.5rem;
  color: var(--suptitle-color);
}

.icon-container svg {
  width: 1.3rem;
}

.card {
  background-color: var(--secondry-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.sales-card,
.statistics-card {
  grid-column: span 3;
  grid-row: 2;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.overview-card {
  grid-row: 3;
  grid-column: span 2;
}

.legend {
  width: 50%;
  margin-top: 2rem;
}

.legend li div {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 960px) {
  .summery-card:nth-child(1) {
    grid-row: 1;
    grid-column: span 6;
  }
  .summery-card:nth-child(2) {
    grid-row: 2;
    grid-column: span 6;
  }
  .summery-card:nth-child(3) {
    grid-row: 3;
    grid-column: span 6;
  }

  .sales-card,
  .statistics-card {
    grid-row: 4;
  }

  .overview-card {
    grid-row: 5;
    grid-column: span 6;
  }

  .overview-card:nth-child(2n) {
    grid-row: 6;
  }

  .overview-card:nth-child(3n) {
    grid-row: 7;
  }
}

@media (max-width: 768px) {
  .sales-card {
    grid-row: 5;
    grid-column: span 6;
  }
  .statistics-card {
    grid-row: 4;
    grid-column: span 6;
  }

  .overview-card {
    grid-row: 6;
  }

  .overview-card:nth-child(2n) {
    grid-row: 7;
  }

  .overview-card:nth-child(3n) {
    grid-row: 8;
  }
}
